terraform/*
lambda/connect_discord.zip
*.zip
.DS_Store
bin
bip
*.bak
deployment/
internal/configs/*
!internal/configs/config.go
config.stage.yaml
config.prod.yaml
config.yaml
.env
.env.local
.env.stage
.env.production
publish
public
app/public/sitemap.xml
!app/public
deploy/key.pem
deploy/key-ir.pem
zap.log

# Visual Studio Code
.vscode/*
.history/
Notes.txt
.idea

# Executables
bip.exe
__debug_bin
gin-bin
launch.json
.idea/vcs.xml
.idea/modules.xml
.idea/bip-backend.iml
CCPRIVATENOTES.md
gitlab_bash.sh
pvt.cc.md
pvt.cc.md
dockerfiles/servers.json
dockerfiles/servers.json
dockerfiles/pgpass/.pgpass
docker-data/
/docker-data/
redis-volume/
*.log
tmp/main
*.log
*.env
.env_1661153010.bak
*.zip
lambda/connect_discord.zip
lambda/connect_discord/bip-discord-task.zip
lambda/connect_discord/task/main
lambda/connect_discord/main
main
